<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="9">
<g_legacyConn class_id="0" tracking_level="0" version="0">
	<loggerSeverity>-1</loggerSeverity>
	<powerIsOSUpTimeoutSecs>5</powerIsOSUpTimeoutSecs>
</g_legacyConn>
</boost_serialization>

