<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="9">
  <conf class_id="0" tracking_level="0" version="0">
    <remotingServerPort>6500</remotingServerPort>
    <numOfThreads>4</numOfThreads>
    <loggerSeverity>0</loggerSeverity>
    <heciTimeOutSecs>300</heciTimeOutSecs>
    <powerWaitBeforeActionSecs>5</powerWaitBeforeActionSecs>
    <heci class_id="1" tracking_level="0" version="0">
      <name>{0xAA1DCD67,0x308F,0x4DAA,{0xA2,0xB9,0x27, 0x82, 0xD4, 0x70, 0x3C, 0x5D}}</name>
    </heci>
  </conf>
</boost_serialization>